.sidebar .active{
    background-color: #EDF5FF;
    border-radius: 7px;
    color: #3439CA;
    /* margin-right: 13px; */
}

/* .borderss {
    border: 2px solid red; 
    margin-left: 10px;
}  */

.admin-dashboard-main{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.hr-logo img {
    width: 31px;
    height: 31px;
}

.admin-dashboard-section-1 {
    width: 228px;
    position: fixed;
    top: 0;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:  1px solid #ebeef1;
}

.spacings {
    gap: 2.5rem;
}

.burn {
    display: flex;
    align-items: center;
}

.opened {
    width: 228px;
}

.closed {
    width: 3.5rem; 
    
}

.admin-dashboard-section-2 {
    min-height: 100vh;
    flex: 1;
    width: 100%;
    background-color: #F7F9FA;
    /* border:2px yellow solid; */
    margin-left:  228px; 
    transition: margin-left 0.3s ease-in-out;
}

.is-closed {
    margin-left: 3.5rem;
}

.visible-left {
    margin-top: -16px;
}

.visible-left img {
    width: 23px;
    height: 23px;

}

.arrow-up{
    margin-bottom: 1px;
}

.arrow-down{
    margin-top: -30px;
}

.hr-manager h1{
    font-size: 14px;
    font-weight: 500;
    /* line-height: 19.2px; */
    color: #343536;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 0;
}

.hr-manager p {
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #ACACAC;
    margin-top: -1px;
}

.main {
    font-family: "DM Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #9A9FA5;
}

.heading {
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.images-active {
    width: 22px;
    height: 22px;
}

.images-actives {
    width: 22px;
    height: 22px;
}

.nav-link {
    transition: all 0.3s ease;
    padding: 3px 9px;
}

.logout-btn {
    width: 100px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #9A9FA5;
}

.logout-img {
    width: 18px;
    height: 18px;
    margin-top: 2px;
}

.log-out{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 15.62px;
    margin-bottom: -2px;
    color: #EA3323;
}

@media(max-width:765px){
    .admin-dashboard-section-1{
        display: none;
    }

    .admin-dashboard-section-2{
        flex: 0;
        padding: 30px 0 30px 0 ;
        margin: 0 auto;
    }

    .admin-dashboard-main{
        display: block;
    }

    .space-pad {
        padding: 6px;
    }
}










