.navbar-container{
    border-bottom: 1px solid  #F1F1F1;
    padding: 0 2rem 12px 2rem ;
    /* border: 2px solid; */
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FEFFFF;
    z-index: 10;
   
}

.inputs{
    width: 270px;
    height: 37px;
    border: 1px solid #E0E0E0 ;
    border-radius: 4px;
    background-color: #F7F9FA;
    background-image: url('../assets/searchIcon.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 18px 18px;
    font-family:  "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:  #B3B3B3;
    
}

.nav-form input:focus{
    outline: none;
}


.inputs::placeholder{
    font-family:  "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:  #B3B3B3;
}

.note-icon {
    width: 19px;
    height: 19px;
}

.message-icon {
    width: 19px;
    height: 19px;
}

.lady-pic {
    width: 32px;
    height: 32px;
}

.user-name {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color:#161E54;
}
.heading-2{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#161E54;
    /* padding-top: 5px; */
}


.menu-icon{
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

.logout{
    color: #EC5E5E;
}

.dropdown{
    outline: none;
}

@media(max-width:767px){
    .navbar-container{
        padding: 0;
        /* border: 2px solid red; */
        width: 100%;
        border: none;
    }

    .inputs{
        width: 100%;
        border-radius: 25px;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .inputs{
        width: 250px; 
    }

}



