@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face{
  font-family: neurial-grotesk;
  src: url('./assets/fonts/NeurialGrotesk-Medium.otf');
}


:root{
  --ff-bricolage:"Bricolage Grotesque", sans-serif;
  --ff-inter:"Inter", sans-serif;
  --ff-dm-sans:"DM Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
}


.font-san-sef {
    font-family: var(--ff-bricolage);
}

.font-inter{
    font-family: var(--ff-inter);
}
.font-sans {
    font-family: var(--ff-dm-sans);
}
.font-poppins {
    font-family: var(--ff-poppins);
}

.font-neural {
    font-family: neurial-grotesk;
}



/* a{
  text-decoration: none;
  color: #343536;
} */

/* body{
  background-color: #FEFFFF;
  overflow-x: hidden;
  max-width: 100% !important; 
  margin: 0 auto !important;
  
} */